<div class="about-container">
<h1 class="text-center">о студии</h1>
  <div class="row">
    <div class="col-lg-6 text-left about-article-left">
      <p>В студии QUADRUM работают молодые, позитивные и высоко-квалифицированные архитекторы и дизайнеры, нацеленные на достижение впечатляющего результата.
        Наша студия занимается: Архитектурным проектированием коттеджей; Дизайном интерьеров любой сложности и назначения; Ландшафтным дизайном; Разработкой фирменного стиля;
        Созданием архитектурных макетов; Профессиональной 3D визуализацией.</p>
    </div> <!--col-->
    <div class="col-lg-6 text-left about-article-right">
      <p>Воплощая в жизнь проекты любого объема и сложности, нами учитываются
        все пожелания и потребности клиента. К любому заданию, будь то простой
        эскиз дизайна помещения или целый проект загородного особняка с
        рекомендациями по подбору материалов и выторским надзором на время реализации, наши специалисты подойдут с одинаковойо ответственностью и максимальной отдачей.</p>
    </div> <!--col-->
  </div> <!--row-->
<h1 class="text-center">наша команда</h1>
  <div class="row">          
    <div class="person-list">
        <div class="person-elem">
          <img src="img/person-5.png" alt="">
          <p class="bold">Багдасарян<br>Альберт</p>
          <p class="slim">CEO</p>
          <p class="p-social">
            <a href="http://instagramm.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://vk.com"><i class="fa fa-vk" aria-hidden="true"></i></a>
          </p>
        </div>      

        <div class="person-elem">
          <img src="img/person-4.png" alt="">
          <p class="bold">Антонов<br>Антон</p>
          <p class="slim">3D-визуализатор</p>
          <p class="p-social">            
            <a href="http://vk.com"><i class="fa fa-vk" aria-hidden="true"></i></a>
            <a href="mailto:text@test.ru"><i class="fa fa-at" aria-hidden="true"></i></a>
            <a href="http://quadrumstd.com"><i class="fa fa-globe" aria-hidden="true"></i></a>
          </p>
        </div> <!--col-->

        <div class="person-elem">
          <img src="img/person-3.png" alt="">
          <p class="bold">Крузов<br>Вячеслав</p>
          <p class="slim">дизайнер</p>
          <p class="p-social">            
            <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://vk.com"><i class="fa fa-vk" aria-hidden="true"></i></a>
          </p>
        </div> <!--col-->

        <div class="person-elem">
          <img src="img/person-2.png" alt="">
          <p class="bold">Владимирова<br>Людмила</p>
          <p class="slim">дизайнер</p>
          <p class="p-social">
            <a href="http://instagramm.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="http://facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>            
          </p>
        </div> <!--col-->

        <div class="person-elem">
          <img src="img/person-1.png" alt="">
          <p class="bold">Портнова<br>Наталья</p>
          <p class="slim">дизайнер</p>      
          <p class="p-social">
            <a href="http://instagramm.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>            
            <a href="http://vk.com"><i class="fa fa-vk" aria-hidden="true"></i></a>
          </p>
      </div> <!--col-->
    </div>
  </div> <!--row-->
</div>