<div class="row">
  <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <form class="form">

      <div class="form-group">
        <label for="name-input">Имя</label>
        <input type="text" class="form-control" id="name-input">
      </div> <!--form-group-->

      <div class="form-group">
        <label for="name-input">Email</label>
        <input type="email" class="form-control" id="email-input">
      </div> <!--form-group-->

      <div class="form-group">
        <label for="tel-input">Телефон</label>
        <input type="tel" class="form-control" id="tel-input">
      </div> <!--form-group-->

      <textarea name="message" rows="5" cols="60" placeholder="текст письма"></textarea>
      <button type="submit" class="btn btn-default">отправить</button>
    </form>
    </div> <!--col-->

    <div class="col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 text-left">
      <p class="slim-uppercase">мы работаем</p>
      <p class="bold">с 8:00 до 18:00 с понедельника по пятницу<br>
      Суббота и воскресенье &mdash; выходной</p>
      <p class="slim">По предварительной договоренности мы готовы<br>встретиться в любое удобное для вас время</p>
      <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="40" viewBox="0 0 25 40">
            <image id="tel-icon" width="25" height="40" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAoCAQAAAChxpngAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhAgwMIxH82SCoAAAAiElEQVQ4y+2VsRGAIAxFH57WrmJjb+Ug4DKOoNO4gRvADE6gjR4W0TOenZAGLv/lp+IDdATWRxVwAO6h/CgHXol4w4ry5Kf7xHKpK2niI1pWN6OrqMu0a0FCEpKQhPwQefGNf7hYT01/BUmxM++9WerKLgUGMBSyixx8Iy2DHHz6eLUAVhHiFjYL+q92mvoCUQAAAABJRU5ErkJggg=="/>
          </svg>
        </div> <!--col-->

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <p class="slim-contacts">+7 (8452) 225-773</p>
          <p class="slim-contacts">+7 (929) 771-77-73</p>
        </div> <!--col-->
      </div> <!--row-->

      <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35" height="20" viewBox="0 0 35 20">
            <image id="mail-icon" width="35" height="20" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAUCAQAAACtr0zHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhAgwMIyM0DnEoAAABBUlEQVQ4y+2S26oBURjHf3s7P4JkS/IalHK12yWXnsC97JSaC3kVpZSSdnkQSUk8Aznui+Xm88lhFjKX1tys+R9+s2bmg+Mqs8M8de0oa5sSftmlGTwBGZCWnp8SGIZkFVpg9gBiTlEbWYYYxGgRFTlCg60FsaVBRLJRWqKqvaBKQOwUfRfIHynJBKiwUP0sNCKnh/1meoGY8qNujtGZd/W8NjGJhnFYi7rBISx6jPZV68bBV9QISiVBF0OPpNwH+WV5o+PyDcbk9QW+dJdn7JK3/JMOidN4EadjyVrnY02dEBCixsqavDtqE5pM7qU+MHiwPr2AvDF2zN4Dyt7HPxl8r0FwDtG/OBT+90GrAAAAAElFTkSuQmCC"/>
          </svg>
        </div> <!--col-->

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p class="bold-contacts">info@quadrumstd.com</p></div>

      </div> <!--row-->
      <div class="row">

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42" height="34" viewBox="0 0 42 34">
            <image id="skype-icon" data-name="Векторный смарт-объект" width="42" height="34" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAiCAQAAACDmYO9AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfhAgwMJAjX8x6vAAABs0lEQVRIx63VvWsTYRgA8N9do20kYrJZKg6Cg6MIncRCC4UupVHB4h/gf+Hg4iRqHZwcHTroYHHoouIHTtJJQeggdLCDUFKCBgL2HPJBzzaXS+59Xjh4n7v8eO453id0YlMSYG12sKiLNpxRPPZVIQ5AHYlSrqdeW7etZNYdl/LjjYF92rd06LkJ9zJ62siHHpjHec9898VdU3hQFH2OC37192+UlO0WQ5ewnsrcxtNsdNjX/4Zrqcwcvmb/aBh6Er9TmVY3WwCdxctU5kU3myMG9fSTyCmf+/v7mNEq8qEOPHYCU3YkEq9AxaPx0ZY6YquHKv1gVYxlf8ZDr+Ocj8e0ZAYr46BrOOvHsa+5YxoPR0UbqiLvBh7I9yJVe6OhT7CcMToSK1gbDV3ARia6gYXR0JqscdgDqtnoVupmG+VMMpEoo53KbHWw3uS/6mL//4q/aLs85BS2ccVEf5/Yznd8x4qoe513OoDW9FbS29SH9i/vqtMbfbeCvXlfmtQMVmnTZKfSRZVglVYsdtB6MFJPKx0ZC8XWnlJsTi1opTVzsRtBSbgZ+Wk6MLob/z9ZAkTjH+QAW7Ls752+AAAAAElFTkSuQmCC"/>
          </svg>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p class="bold-contacts"><span>skype</span> quadrumstd</p></div>

      </div> <!--row-->
    </div> <!--col-->
</div> <!--row-->
