<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Дизайн интерьеров</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<p style="margin-right:20px;">
		Наша студия поможет вам преобразить любое пространство, независимо от его площади и предназначения. Созданный нами интерьер будет отвечать последним тенденциям в мире дизайна и соответствовать требованиям и пожеланиям заказчика.
Наши главные помощники в разработке интерьеров - безудержная фантазия, опыт и любовь к современным технологиям. Благодаря неординарному видению и свежему мышлению мы создаем по-настоящему оригинальные и интересные проекты. Грамотная организация пространства, индивидуальный стиль, гармонирующий с личностью заказчика, воплощение самых смелых идей - все это поможет превратить ваше жилище или офис в место встречи стиля, комфорта и удобства. При создании проекта учитывается бюджет, который вы планируете потратить на ремонт помещения, дизайнеры выбирают только те материалы, которые входят в вашу ценовую категорию и соответствуют необходимым критериям. Благодаря этому любой эскиз дизайна квартиры, офиса или коттеджа будет выполнен с точностью до малейших деталей.
</p>
		</div>

		<div class="col-md-6">
		<p style="margin-left:20px;">
			<b>Мы выполним для Вас:</b>
			<ul style="margin-left:20px;">
				<li>Дизайн интерьера жилых помещений (квартира, дом, коттедж)</li>
				<li>Дизайн интерьера для бизнеса (офис, магазин, салон, ресторан, кафе, клуб)</li>
				<li>Декорирование интерьера и роспись стен</li>
				<li>3D моделирование и архитектурную визуализацию</li>
				<li>Авторский надзор при выполнении ремонтно-строительных работ</li>
				<li>Подбор и поставку мебели, отделочных материалов и предметов интерьера от лучших поставщиков</li>
				<li>Подбор авторских работ художников и скульпторов для конкретного интерьера</li>
				<li>Консультации дизайнеров.</li>
			</ul>
		</p>
		</div>
	</div>
	<div class="row slideshow">
		<div class="col-sm-12">
			<div class="col-md-2 col-sm-4 col-xs-6 slide-item">
				<div class="slide-item-cl">
					<a href="#" style="background-image:url(/img/portfolio-1.png);"></a>
				</div>
			</div>	
			<div class="col-md-2 col-sm-4 col-xs-6 slide-item">
				<div class="slide-item-cl">
					<a href="#" style="background-image:url(/img/portfolio-2.png);"></a>
				</div>
			</div>	
			<div class="col-md-2 col-sm-4 col-xs-6 slide-item">
				<div class="slide-item-cl">
					<a href="#" style="background-image:url(/img/portfolio-3.png);"></a>
				</div>
			</div>	
			<div class="col-md-2 col-sm-4 col-xs-6 slide-item">
				<div class="slide-item-cl">
					<span href="#" style="background-image:url(/img/portfolio-4.png);"></span>
					<a href="#" class="all-works">
						<div class="all-works-container"><div>Смотреть<br>все работы</div></div>
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>