<div class="portfolio-tr">
<div class="row">
  <div class="portfolio-section">
    <h3>Портфолио</h3>
    <nav class="portfolio-nav">
    <a href="">Все</a>
    <a href="">Архитектура</a>
    <a href="">Интерьеры</a>
    <a href="">Макетирование</a>
    <a href="">Айдентика</a>
    <a href="">Концепции</a>
  </nav>
  <div class="col-lg-12">

  <div class="grid hidden-md hidden-sm hidden-xs">
  <a href="/project.html" class="grid-item grid-item-1" >
    <div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div> <!--overlay-->
  </a> <!--grid-item-->
  <a href="/project.html" class="grid-item grid-item--middle grid-item-2"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--middle grid-item-3"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--small grid-item-4"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--small grid-item-5"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--small grid-item-6"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--small grid-item-7"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--middle grid-item-8"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <a href="/project.html" class="grid-item grid-item--middle grid-item-9"><div class="overlay"><p class="hover-text">Two in One <br> <small>Интерьеры</small></p></div></a>
  <div class="grid-item grid-item--middle grid-item-10">
    <a class="overlay-all" href="#">
      <p class="hover-text-other"><small>Смотреть все <br>работы</small></p>
    </a> <!--overlay-->
  </div> <!--grid-->
  </div> <!--grid-->


  <div class="hidden-lg grid-mobile">
    <div class="row">
  <div class="grid-item grid-item-1">
    <div class="overlay">
        <p class="hover-text">Two in One <br> <small>Интерьеры</small></p>
    </div> <!--overlay-->
  </div> <!--grid-item-->
  </div>
  <div class="row">
  <div class="grid-item grid-item--middle grid-item-2"><div class="overlay"></div></div>
</div>
  <div class="row">
  <div class="grid-item grid-item--middle grid-item-3"><div class="overlay"></div></div>
</div>
<div class="row">
  <div class="grid-item grid-item--small grid-item-4"><div class="overlay"></div></div>
  <div class="grid-item grid-item--small grid-item-5"><div class="overlay"></div></div>
</div>
<div class="row">
  <div class="grid-item grid-item--small grid-item-6"><div class="overlay"></div></div>
  <div class="grid-item grid-item--small grid-item-7"><div class="overlay"></div></div>
</div>
<div class="row">
  <div class="grid-item grid-item--middle grid-item-8"><div class="overlay"></div></div>
</div>
<div class="row">
  <div class="grid-item grid-item--middle grid-item-9"><div class="overlay"></div></div>
</div>
<div class="row">
  <div class="grid-item grid-item--middle grid-item-10">
    <div class="overlay">
      <p class="hover-text-other"><small>Смотреть все <br>работы</small></p>
    </div> <!--overlay-->
  </div> <!--grid-->
</div>
  </div> <!--grid-->

  </div>
  </div> <!--portfolio section-->
</div> <!--row-->
</div>