<h1>Трехкомнатная квартира</h1>
<div class="content slideshow">	
	<div class="detailSlider">
		<img class="detailSliderItem" src="img/project/slideshow-01.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-02.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-03.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-04.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-05.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-06.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-07.jpg" title="" alt="" />
		<img class="detailSliderItem" src="img/project/slideshow-08.jpg" title="" alt="" />
	</div>
	<div class="clearfix"></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<p class="project-description">
			Заказчица интерьера мечтала о романтичной спальне с ангелочками и завитушками. Так на фоне лепнины и росписей появился дамский набор изящной резной мебели для будуара: роскошная кровать, туалетный столик, комод, множество зеркал в округлых рамах. А ангел заглядывает в окно: его контур инкрустировали прямо в стекло с помощью кристаллов Сваровски.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<img class="img-full-width" src="img/project/slideshow-05.jpg" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-5 col-md-offset-7">
			<div class="project-info">
				<h3>Информация о проекте</h3>
				<ul>
					<li>
						<b>Адрес</b><br>
						<p>ЖК "Красный кит", г.Мытищи</p>
					</li>
					<li>
						<b>Авторы проекта</b><br>
						<p>Альберт Багдасарян, Инна Багдасарян</p>
					</li>
					<li>
						<b>Общая площадь</b><br>
						<p>52 кв.м</p>
					</li>
					<li>
						<b>Проектирование</b><br>
						<p>2015 г.</p>
					</li>
					<li>
						<b>Реализация</b><br>
						<p>2015 г.</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>